.one{
  background-color: #E2D597;
  width: 101.2%;
  margin: -8px;
  height: 350px;
margin-top:-15px;
  
}
.img{
  width: 250px;
  height: 350px;
  border-radius: 20px;
}
.img:hover{
  filter: brightness(60%);
}

h2{
  margin-left: 530px;
  font-size: 30px;
  color: #83111F;
}

a{
  text-decoration: none;
}
.piece{
  font-size: 20px;
  color: black;
  
  
}
.star{
  width: 16px;
}
.div{
  text-align: center;
  padding-left: 50px;
}
.div div{
  
 margin: 1%;
  width: calc(90% / 3);
  float: left;
  margin-top: 30px;
}
.p{
  color: #83111F  ;
  padding: 10px;
  font-size: 15px;
  position: absolute;
 top: 53px;
 left: 33px;
}

.logo{
  width: 80px;
  padding: 30px;
  position: absolute;
 
}
ul li{
  display: inline;
  float: right;
 
  padding-top: 50px;

padding-right: 70px;
}
ul li a{
  text-decoration: none;
  color: black;
}
.a:hover{
  color: #83111F;
  padding-bottom: 5px;
  border-bottom: 2px solid #83111F;
}

.h1{
  margin-top: 130px;
 text-align: center;
 margin-right: 40px;
 font-size: 40px;
}
span{
  color: #83111F;
}
input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-image: url('');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  height: 30px;
  
}

input[type=text] {
  width: 45%;
 height: 35px;
}

.in-search{
 
  margin-bottom: -200px;
 margin-top: 10px;
 margin-left: 450px;
    
}
.search{
    width: 23px;
 margin-left: 460px;
 margin-top: 16px;
 position: absolute;

}
.list{
  background-color: white;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  height: 200px;
  border-radius: 10px;
 
 
}

.list ul li {
  margin-top: -20px;
 
}
#border{
  border-bottom: 2px solid #83111F;
  padding: 3px;
}
.one #icon{
  font-size: 30px;
  color: #83111F;
  float: right;
  line-height: 130px;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}
@media (max-width: 1048px){
  label.logo{
      font-size: 32px;
      padding-left: 60px;
  }

  .one ul{
      margin-right: 20px;
  }

  .one .a{
      font-size: 17px;
  }
}

@media (max-width: 909px){
  .one #icon{
      display: block;
  }

.one ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #83111F;
      top: 80px;
      left: 0%;
      text-align: center;
  }

 .one li a{
      display: block;
      margin: 30px 0;
      line-height: 30px;
      
  }


  .one .a{
      font-size: 20px;
  }
  
  .a.active,.a:hover{
      border:none;
      color: #E2D597;

  }
  .search{
    display: none;
  }
}
 
